#删除.git文件夹下的index文件，这个文件就是暂存区的本质
#rm .git/index
#.*是忽略所有.开头的文件/文件夹，第二行是忽略对.gitignore文件的忽略hhh禁止套娃hhh
.*
!/.gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#folder
tmp/*
app/*
appd/*
debug/*
Release/*

